.container{
	#gameOver{
		position:absolute;
		left:50%;
		top:20%;
		transform:translate(-50%, -50%);
	}

	.box-container{
		position:absolute;
		left:50%;
		top:50%;
		transform:translate(-50%, -50%);

		width:400px;
		height:400px;

		display:inline-block;

		img{
			padding:0;
			margin:0;
			display:block;
			margin:auto;
			vertical-align:center;
	
			width:100px;
			height:100px;
			margin-top:10px;
		}
	
		div{
			width:32%;
			height:32%;
	
			display:inline-block;
			padding:0;
			margin:0;
			border:1px solid black;
		}
	}
}